In [1]:
import pandas as pd
pd.set_option('display.max_columns', 100)

In [2]:
# 스트리밍 내역
history_1= pd.read_json('./account/StreamingHistory0.json')
history_2= pd.read_json('./account/StreamingHistory1.json')

print(history_1.shape, history_2.shape)

(10000, 4) (7589, 4)

In [3]:
history_1.head()

            endTime        artistName                 trackName  msPlayed
0  2022-11-08 13:26          Disciple  Dear X, You Don't Own Me    121303
1  2022-11-08 14:16  Hollywood Undead           Day Of The Dead     99912
2  2022-11-09 01:47          Slipknot                   Duality    252613
3  2022-11-09 01:51   All Good Things             For the Glory    279308
4  2022-11-09 01:55           Solence              Animal in Me      5665

In [5]:
history_2.tail()

               endTime     artistName          trackName  msPlayed
7584  2023-11-08 01:39  Fox Stevenson            Go Like       464
7585  2023-11-08 01:39      Amaranthe  Drop Dead Cynical         0
7586  2023-11-08 01:39   Virtual Riot       Energy Drink    281240
7587  2023-11-08 01:43        Dynazty  Heartless Madness    239866
7588  2023-11-08 01:47  Fox Stevenson            Go Like    233946

In [9]:
# 스트리밍 내역 테이블 결합
history= pd.concat([history_1, history_2]).reset_index(drop= True)
history

                endTime        artistName                 trackName  msPlayed
0      2022-11-08 13:26          Disciple  Dear X, You Don't Own Me    121303
1      2022-11-08 14:16  Hollywood Undead           Day Of The Dead     99912
2      2022-11-09 01:47          Slipknot                   Duality    252613
3      2022-11-09 01:51   All Good Things             For the Glory    279308
4      2022-11-09 01:55           Solence              Animal in Me      5665
...                 ...               ...                       ...       ...
17584  2023-11-08 01:39     Fox Stevenson                   Go Like       464
17585  2023-11-08 01:39         Amaranthe         Drop Dead Cynical         0
17586  2023-11-08 01:39      Virtual Riot              Energy Drink    281240
17587  2023-11-08 01:43           Dynazty         Heartless Madness    239866
17588  2023-11-08 01:47     Fox Stevenson                   Go Like    233946

[17589 rows x 4 columns]